/* Font size of the Menu. */
body {
	font-size: 1.075rem;
}

/* Icons Dimension */
.feather {
	width: 31px;
	height: 31px;
}

/*
 * Sidebar
 */

.sidebar {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100; /* Behind the navbar */
	padding: 50px 5px 0; /* Height of navbar */
	box-shadow: inset -1px 0 0 rgba(86, 151, 226, 0.1);
}

@media (max-width: 767.98px) {
	.sidebar {
		top: 5rem;
	}
}


.sidebar-sticky {
	height: calc(100vh - 48px);
	overflow-x: hidden;
	overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

/* Color of the Menu Options when they are not selected. */
.sidebar .nav-link {
	font-weight: 800;
	color: #333;
}

/* Color of the Menu Icons */
.sidebar .nav-link .feather {
	margin-right: 4px;
	color: #4a77d4;
}

/* Color for the Menu when we select the Icon. */
.sidebar .nav-link.active, .sidebar .router-link-active {
	color: #4a77d4;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
	color: inherit;
}

/* Sidebar Heading Font-Size */
.sidebar-heading {
	font-size: 1.575rem;
}

/*
 * Navbar (The Small Navbar above the site).
 */
.navbar-brand {
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: #4a77d4;
	box-shadow: inset 0 0 0 #fff;
}

.navbar .navbar-toggler {
	top: 1.5rem;
	right: 1rem;
}

.navbar .form-control {
	padding: 0.75rem 1rem;
}

.form-control-dark {
	color: #fff;
	background-color: rgba(107, 148, 234, 0.1);
	border-color: rgba(255 255 255 / 10%);
}

.form-control-dark:focus {
	border-color: transparent;
	box-shadow: 0 0 0 3px rgba(255 255 255 / 25%);
}
